@font-face {
	font-family: 'Involve';
	src: url('../src/assets/fonts/Involve-VF.ttf');
}

:root {
	--font-family: 'Involve';

	// Font-weights
	--regular: 400;
	--semibold: 600;
	--bold: 700;

	// Цвета
	--primary-color: #808080;
	--primary-hover-color: #4d4d4d;
	--secondary-color: #e7e8e6;
	--secondary-hover-color: #c2c2c2;
	--base-0-color: #001235;
	--base-1-color: #ffffff;
	--title-color: #101010;
	--violetgrey-color: #7f7679;
	--liver-color: #534b4f;
	--violetgrey-hover-color: #302d2e;

	// Размеры
}
