.wrapper {
	display: flex;
	flex-direction: row;
	gap: 5px;
	button {
		outline: none;
		border: 1px solid;
		background-color: transparent;
		padding: 2px;
		font-size: 16px;
		text-align: center;
		cursor: pointer;
	}

	.icon {
		font-size: 16px;
	}
}
